  .container {
    max-width: 960px;
    width: 40%;
  
  }

  .alert {
    position: fixed;
    top: 80px;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .form-control {
    width: 45%;
  }
  #loginimage {
    width: 70%;
  }